/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.dark-alrt {
  background-color: #212f3c;
}

.section-lg {
  position: relative;
  bottom: 24px;
}
@media screen and (min-height: 40rem) and (min-width: 60rem) {
  .section-lg {
    position: relative;
    bottom: 24px;
  }
}
.logo {
  width: 180px;
}
.logo-footer {
  width: 200px;
}

.navbar-geser-kiri {
  position: relative;
  right: 30px;
}
.font-bawah {
  font-size: 13px;
}
.icon-alrt {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .navbar-custom {
    position: relative;
    left: 5px;
  }
}

.cover-foto {
  background-image: url("../img/cover.jpg");
  background-position: center 50%;
  height: 15rem;
  background-color: #f5f5f5;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .cover-foto {
    background-position: center 50%;
    height: 10rem;
  }
}
